%tr
  %td
    = link_to key_path(key) do
      %strong= key.title
  %td
    %span.cgray
      Added
      = time_ago_in_words(key.created_at)
      ago
  %td
    = link_to 'Remove', key_path(key), confirm: 'Are you sure?', method: :delete, class: "btn btn-remove delete-key btn-small pull-right"
